<div class="content-wrapper" style="margin-left: 250px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Task</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a (click)="navigate('/task-list/view-tasks')" style="cursor: pointer;">Home</a></li>
            <li class="breadcrumb-item active">Add Task</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <form [formGroup]="addTaskForm" (submit)="onSubmit(addTaskForm.value)">
    <div class="card-body">
      <div class="form-group">
        <label for="title">Task Title</label>
        <input
          class="form-control"
          id="title"
          formControlName="title"
          type="text"
        />
        <div
          *ngIf="title && (title.dirty || title.touched)"
          class="validation-alert"
        >
          <div *ngIf="title.errors?.['required']">
            Task title is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label cLabel for="descriptiopn">Description</label>
        <textarea
          class="form-control"
          id="descriptiopn"
          formControlName="description"
          rows="3"
        ></textarea>
        <div
          *ngIf="description && (description.dirty || description.touched)"
          class="validation-alert"
        >
          <div *ngIf="description.errors?.['required']">
            Description is required.
          </div>
        </div>
      </div>
    </div>

    
    <!-- /.card-body -->

    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="addTaskForm.invalid"
      >
        SAVE
      </button>
    </div>
  </form>
</div>
